<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <!-- NAVBAR -->
  <header class="navbar">
    <div class="container nav-inner">
      
      <a href="{{ '/' | relative_url }}" class="logo">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="MLbible Logo">
      </a>

      <nav class="nav-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/courses/' | relative_url }}">Courses</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>

    </div>
  </header>
  {{ content }}
</body>
</html>